*{
    margin: 0;
    padding: 0;
    font-family: "monsterrat",sans-serif;

}
.sigup{
    background:url('../images/bg8.jpg')  repeat-x;
    padding:86px 322px;
    background-size:cover;
    height: 100vh;
    
    color: white;
}
.sigup h1{
    text-align: center;
    color: white;
    font-size: 40px;
}
.border{
   
    width: 273px;
    height: 10px;
    background: maroon;
    margin: 12px auto;
    margin-left: 33px;
}
.textbox{
    width:100%;
    overflow: hidden;
    font-size: 20px;
    padding:20px 0;
    overflow: hidden;
    background: none;
    

}

.btn{
    height: 35px;
    width:129px;
    font-size: 18px;
    font-weight: bold;
    color: #ffb3b3;
    background: maroon;
    border:1px solid #cc0000;
    outline:none;
    cursor:pointer;
    border-radius: 25px;
    transition: .5s;
    margin-left: 35px;
}
.btn1{
    height: 35px;
    width:129px;
    font-size: 18px;
    font-weight: bold;
    color: #ffb3b3;
    background:maroon;
    border:1px solid #cc0000;
    outline:none;
    cursor:pointer;
    border-radius: 25px;
    transition: .5s;
    margin-left: 35px;
}
.btn:hover{
    background: #cc0000;
}
.btn1:hover{
    background: #cc0000;
}
.name{
    background: none;
    color: white;
}
.topic{
    margin-left: -295px;
}
.image{
    height: 70px;
    width:70px;
    background:url("images/logo.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    position: absolute;
    top:10%;
    left:47%;
    transform: translate(-50%,-50%);
}
.dob select{
    margin-left: 114px;
}
.dobee select{
    margin-left: 165px;
}

.xxx input[type="file"]{
    display: none;

}
.xxx label{
    color: #000;
    height:35px;
    width:72px;
    background:white;

}
.dobs select{
    margin-left: 21px;
}