@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*{
    padding: 0;
    margin: 0;
}
.wrapper{
    background: url('../images/bg8.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
}
.navbar{
    height: 80px;
    width: 100%;
    background:rgba(0,0,0,0.8);
}
.logo{
    width: 129px;
    height: 66px;
    padding: 8px 100px;
    margin-left: -65px;
}

.navbar ul{
    float:right;
    margin-right:20px;
}
.navbar ul li{
    list-style:none;
    margin: 0 8px;
    display: inline-block;
    line-height: 80px;

}
.navbar ul li a{
    text-decoration: none;
    color:white;
    font-size:20px;
    padding: 6px 13px;
    font-family:'Roboto',sans-serif;
    transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
    background:#cc0000;
    border-radius: 2px;

}
.welcome {
     color:white;
    font-size: 27px;
    font-family: sans-serif;
    padding-top: 100px; 
}
.wrapper .center{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-family: sans-serif;
    user-select: none;

}
.center h1{
    color: white;
    font-size: 70px;
    font-weight: bold;
    width:900px;
    text-align:center;
    font-family: auto;
}
.center h3{
    color:white;
    font-size: 54px;
    font-weight: bold;
    width:885px;
    text-align:center;
    margin-top: 10px;
    font-family: auto;
}
.center .buttons{
    margin:35px 280px;
}
.buttons button{
    height: 50px;
    width:150px;
    font-size: 18px;
    font-weight: bold;
    color: #ffb3b3;
    background: maroon;
    border:1px solid #cc0000;
    outline:none;
    cursor:pointer;
    border-radius: 25px;
    transition: .5s;
}
.buttons .btn{
    margin-left: 25px;

}
.buttons button:hover{
    background:#cc0000;
}

body{
    margin:0;
    padding: 0;
    font-weight: Century Gothic;
    background:url('../images/bg8.jpg') no-repeat;
    background-size: cover;
    

}
.container{
    height:75vh;
    width:30%;
    background:rgba(0,0,0,0.6);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 0 20px;

}
.image{
    height: 70px;
    width:70px;
    background:url("images/logo.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    position: absolute;
    top:-4%;
    left:50%;
    transform: translate(-50%,-50%);

}
.container h1{
    color:white;
    margin-top: 10px;

}
.container p{
    color: white;
    margin-top: 60px;
    font-size: large;


}
.btn{
    background: no-repeat;
    outline: none;
    border: 1px solid white;
    color: white;
    width:50%;
    padding: 7px 15px;
    font-size: large;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top:50px;
}
.btn:hover{
    background: maroon;
    color: white;
}

.name{
    background: none;
    color: white;
}
.textbox{
    width:100%;
    overflow: hidden;
    font-size: 20px;
    padding:20px 0;
    overflow: hidden;
    background: none;
    

}
.textbox input{
    border:none;
    outline:none;
    background: none;
    color:white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}

.textbox i{
    width:26px;
    float: left;
    text-align: center;
}

.login-box{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    color: white;
}
.login-box h1{
    float: left;
    font-size:40px;
    border-bottom:6px solid maroon;
    margin-bottom:50px;
    padding:13px 0
}