<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>About Us</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet"
	th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />

</head>
<body>
	<div class="wrapper">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
			<a class="navbar-brand" href="#"> <!-- Add logo with size of 90*80 -->
				<img th:src="@{/images/bg10.jpg}" width="90" height="80" alt="">
			</a>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link" th:href="home">Home</a></li>
				<li class="nav-item"><a class="nav-link" th:href="about">About</a></li>
				<li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>
				<li class="nav-item"><a class="nav-link" href="login">Login</a></li>
				<li class="nav-item"><a class="nav-link" href="signup">Signup</a></li>
			</ul>


		</nav>
	</div>
	<div class="container">
		<center>
			<h1>About Us</h1>
			<div class="image"></div>
			<p>XASTER is a discovery platform for creating custom-fitted
				clothing and tailoring services for its customers
				anytime,anywhere.We help our customers to personalize their
				tailoring needs online by helping them with style elements and
				garment fitting.</p>

		</center>

	</div>
	<script type="text/javascript"
		th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>

</body>
</html>