<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login Form</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/login.css}">
<link rel="stylesheet"
	th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />

</head>
<body>
	<div class="wrapper">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
			<a class="navbar-brand" href="#"> <!-- Add logo with size of 90*80 -->
				<img th:src="@{/images/bg10.jpg}" width="90" height="80" alt="">
			</a>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link" th:href="home">Home</a></li>
				<li class="nav-item"><a class="nav-link" th:href="about">About</a></li>
				<li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>
				<li class="nav-item"><a class="nav-link" href="login">Login</a></li>
				<li class="nav-item"><a class="nav-link" href="signup">Signup</a></li>
			</ul>


		</nav>
	</div>

	<div class="login-box">

		<form id="forgotPassForm" action="#" th:action="@{/updatepassword}"
			th:object="${login}" method="post">
			<h1>Login</h1>
			<div class="image"></div>
			<div id="emailOtpAlert" class="alert alert-primary" role="alert">OTP
				has been sent to your email id</div>

			<div class="textbox">
				<i class="fa fa-user" aria-hidden="true"></i> <input type="text"
					id="username" name="username" placeholder="Username"
					th:field="*{username}">
			</div>
			<div>
				<input type="button" class="btn btn-light" onclick="sendOTP()"
					value="Sent OTP">
			</div>
			<div class="textbox">
				<input type="text" id="otp" name="otp" placeholder="Enter OTP"
					th:field="*{otp}">
			</div>
			<div class="textbox">
				<i class="fa fa-lock" aria-hidden="true"></i> <input type="password"
					id="password" name="Password" placeholder="Password"
					th:field="*{password}">
			</div>
			<div class="textbox">
				<i class="fa fa-lock" aria-hidden="true"></i> <input type="password"
					id="confirmPassword" name="confirmPassword"
					placeholder="Confirm Password">
			</div>
			<input type="button" class="btn btn-light" onclick="formSubmit()"
				value="Change Password">

			<div class="alert alert-success" role="alert" th:text="${successMsg}"
				th:if="${successMsg}"></div>
			<div class="alert alert-danger" role="alert" th:text="${errorMsg}"
				th:if="${errorMsg}"></div>

		</form>
	</div>
	<script type="text/javascript"
		th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
		$("#emailOtpAlert").hide();
		function formSubmit() {
			var password = $("#password").val();
			var confirmPassword = $("#confirmPassword").val();
			if (password != confirmPassword) {
				alert("password does not matches");

			} else {
				$("#forgotPassForm").submit();
			}
		}

		function sendOTP() {
			var username = $("#username").val();
			if (!username) {
				alert("please enter username");
			} else {
				$.post("sendOTP?username=" + username, function(data) {
					$("#emailOtpAlert").fadeTo(2000, 500).slideUp(500,
							function() {
								$("#emailOtpAlert").slideUp(500);
							});
				});
			}

		}
	</script>

</body>
</html>


