<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Measurements</title>
<link rel="stylesheet" th:href="@{/css/measurement.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet"
	th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
</head>
<style>
select {
	margin-left: 50px;
}
</style>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="#"> <!-- Add logo with size of 90*80 -->
			<img th:src="@{/images/bg10.jpg}" width="90" height="80" alt="">
		</a>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item"><a class="nav-link" th:href="login_home">Home</a></li>
			<li class="nav-item"><a class="nav-link" th:href="orderhistory">Order
					History</a></li>
			<li class="nav-item"><a class="nav-link" href="neworders">New
					Orders</a></li>
			<li class="nav-item"><a class="nav-link" href="logout">Logout</a></li>
		</ul>


	</nav>
	<div class="sigup">
		<h1 class="topic">Measurements</h1>
		<div class="border"></div>
		<div class="image"></div>
		<form class="form-horizontal" action="#"
			th:action="@{/kurtis_measure}" th:object="${orderDetails}"
			method="post">
			<table border="0">
				<tr>
					<th>Shoulder:<input type="text" class="name"
						placeholder="in inches" th:field="*{shoulder}"
						style="margin-left: 110px"></th>
				</tr>
				<tr>
					<th><br>Chest:<input type="text" class="name"
						placeholder="in inches" th:field="*{chest}"
						style="margin-left: 140px"></th>
				</tr>
				<tr>
					<th><br>Front Neck Depth:<input type="text" class="name"
						placeholder="in inches" th:field="*{frontNeckDepth}"
						style="margin-left: 27px"></th>

				</tr>
				<tr>
					<th><br>Back Neck Depth:<input type="text" class="name"
						placeholder="in inches" th:field="*{backNeckDepth}"
						style="margin-left: 30px"></th>
				</tr>
				<tr>
					<th><br>Sleeve Length:<input type="text" class="name"
						placeholder="in inches" th:field="*{sleeveLength}"
						style="margin-left: 60px"></th>
				</tr>
				<tr>
					<th><br>Sleeve Round:<input type="text" class="name"
						placeholder="in inches" th:field="*{sleeveRound}"
						style="margin-left: 60px"></th>
				</tr>
				<tr>
					<th><br>Waist:<input type="text" class="name"
						placeholder="in inches" th:field="*{waist}"
						style="margin-left: 137px"></th>

				</tr>
				<tr>
					<th><br>Hips:<input type="text" class="name"
						placeholder="in inches" th:field="*{hips}"
						style="margin-left: 145px"></th>
				</tr>
				<tr>
					<th><br>Bottom Width:<input type="text" class="name"
						placeholder="in inches" th:field="*{bottomWidth}"
						style="margin-left: 63px"></th>

				</tr>
				<tr>
					<th><br> Side Slit Length:<input type="text" class="name"
						placeholder="in inches" th:field="*{sideSlitLength}"
						style="margin-left: 47px"></th>
				</tr>
				<tr>
					<th><br> Length:<input type="text" class="name"
						placeholder="in inches" th:field="*{length}"
						style="margin-left: 135px"></th>
				</tr>

				<th><input class=btn1 type="submit" value="Next"
					style="margin-left: 10px" /></th>
				<a th:href="neworders"><input class="btn" type="button"
					value="Back" style="margin-top: 22px;"></a>
				</tr>
			</table>
	</div>
	<script type="text/javascript"
		th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>

</body>
</html>